<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sq.demo.mapper.ContractfileMapper">
  <resultMap id="BaseResultMap" type="com.sq.demo.pojo.Contractfile">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="ID" jdbcType="VARCHAR" property="id" />
    <result column="CID" jdbcType="VARCHAR" property="cid" />
    <result column="FID" jdbcType="VARCHAR" property="fid" />
    <result column="FNAME" jdbcType="VARCHAR" property="fname" />
    <result column="SCR" jdbcType="VARCHAR" property="scr" />
    <result column="SCSJ" jdbcType="VARCHAR" property="scsj" />
  </resultMap>
</mapper>