<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sq.demo.mapper.ContractMapper" >
  <resultMap id="BaseResultMap" type="com.sq.demo.pojo.Contract" >
    <!--
      WARNING - @mbg.generated
    -->
    <result column="ID" property="id" jdbcType="VARCHAR" />
    <result column="CONTRACT_NO" property="contractNo" jdbcType="VARCHAR" />
    <result column="CONTRACT_NAM" property="contractNam" jdbcType="VARCHAR" />
    <result column="CONTRACT_TYPE" property="contractType" jdbcType="VARCHAR" />
    <result column="SIGN_NAM" property="signNam" jdbcType="VARCHAR" />
    <result column="CONTRACT_STATUS" property="contractStatus" jdbcType="VARCHAR" />
    <result column="VALID_DTE" property="validDte" jdbcType="DATE" />
    <result column="CONTRACT_PURPOSE" property="contractPurpose" jdbcType="VARCHAR" />
    <result column="IS_DEL" property="isDel" jdbcType="TINYINT" />
    <result column="IS_USED" property="isUsed" jdbcType="TINYINT" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="SIGN_DTE" property="signDte" jdbcType="DATE" />
  </resultMap>
</mapper>