<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sq.demo.mapper.ProjectMapper">
    <resultMap id="BaseResultMap" type="com.sq.demo.pojo.Project">
        <!--
          WARNING - @mbg.generated
        -->
        <result column="ID" property="id" jdbcType="VARCHAR"/>
        <result column="PROJECT_NO" property="projectNo" jdbcType="VARCHAR"/>
        <result column="PROJECT_TYPE" property="projectType" jdbcType="VARCHAR"/>
        <result column="PROJECT_NAM" property="projectNam" jdbcType="VARCHAR"/>
        <result column="DECLARATION_DEP" property="declarationDep" jdbcType="VARCHAR"/>
        <result column="PERSON_IN_CHARGE" property="personInCharge" jdbcType="VARCHAR"/>
        <result column="INVESTMENT_ESTIMATE" property="investmentEstimate" jdbcType="VARCHAR"/>
        <result column="ESTABLISH_REASON" property="establishReason" jdbcType="VARCHAR"/>
        <result column="SCALE" property="scale" jdbcType="VARCHAR"/>
        <result column="DEP_AUDIT_OPINION" property="depAuditOpinion" jdbcType="VARCHAR"/>
        <result column="TECH_AUDIT_OPINION" property="techAuditOpinion" jdbcType="VARCHAR"/>
        <result column="ENG_TECH_AUDIT_OPINION" property="engTechAuditOpinion" jdbcType="VARCHAR"/>
        <result column="BIDER" property="bider" jdbcType="VARCHAR"/>
        <result column="FINISH_DTE" property="finishDte" jdbcType="DATE"/>
        <result column="PROPOSER" property="proposer" jdbcType="VARCHAR"/>
        <result column="APPLICATION_DTE" property="applicationDte" jdbcType="DATE"/>
        <result column="REVISER" property="reviser" jdbcType="VARCHAR"/>
        <result column="REVISE_DTE" property="reviseDte" jdbcType="DATE"/>
        <result column="ILLUSTRATION" property="illustration" jdbcType="VARCHAR"/>
        <result column="ZJHSJ" property="zjhsj" jdbcType="VARCHAR"/>
        <result column="LHSJ" property="lhsj" jdbcType="VARCHAR"/>
        <result column="TJDW" property="tjdw" jdbcType="VARCHAR"/>
        <result column="JZ" property="jz" jdbcType="VARCHAR"/>
        <result column="PID" property="pid" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="sgSearch" resultType="com.sq.demo.pojo.Project">
        select * from project
        <trim prefix="where" prefixOverrides="and">
            <if test="projectName!=null and projectName!='' ">
                and project_Nam like concat('%',#{projectName},'%')
            </if>
            <if test="departmentName!=null and departmentName!='' ">
                and DECLARATION_DEP like concat ('%', #{departmentName},'%')
            </if>
            <if test="fzr!=null and fzr!='' ">
                and PERSON_IN_CHARGE like concat ('%',#{fzr},'%')
            </if>
            <if test="xmlb!=null and xmlb!='' ">
                and PROJECT_TYPE like concat ('%',#{xmlb},'%')
            </if>
            <if test="yjgq!=null and yjgq!='' ">
                and TECH_AUDIT_OPINION like concat ('%',#{yjgq},'%')
            </if>
        </trim>
    </select>

    <select id="search" resultType="com.sq.demo.pojo.Project">
        select * from project
        <trim prefix="where" prefixOverrides="and">
            <if test="select_code!=null and select_code!=''">
                and project_No like concat('%',#{select_code},'%')
            </if>
            <if test="select_xmmc!=null and select_xmmc!=''">
                and project_Nam like concat('%',#{select_xmmc},'%')
            </if>
            <if test="select_dptnm!=null and select_dptnm!=''">
                and DECLARATION_DEP like concat('%',#{select_dptnm},'%')
            </if>
            <if test="select_fqr!=null and select_fqr!=''">
                and
                <foreach item="item" index="index" collection="select_fqr" open="(" separator="or" close=")">
                    proposer like concat('%',#{item},'%')
                </foreach>
            </if>
            <if test="select_jbr!=null and select_jbr!=''">
                and
                <foreach item="item" index="index" collection="select_jbr" open="(" separator="or" close=")">
                    bider like concat('%',#{item},'%')
                </foreach>
            </if>
            <if test="select_xmfl!=null and select_xmfl!=''">
                and
                <foreach item="item" index="index" collection="select_xmfl" open="(" separator="or" close=")">
                    reviser like concat('%',#{item},'%')
                </foreach>
            </if>
            <if test="select_xmlb!=null and select_xmlb!=''">
                and
                <foreach item="item" index="index" collection="select_xmlb" open="(" separator="or" close=")">
                    project_Type like concat('%',#{item},'%')
                </foreach>
            </if>
        </trim>
    </select>

    <select id="yfbb2" statementType="CALLABLE">
        call yfbb(
            #{ _year,mode=IN,jdbcType=VARCHAR},#{_month,mode=IN,jdbcType=VARCHAR},
            #{sb_fbsl,mode=OUT,jdbcType=VARCHAR},#{sb_jssl,mode=OUT,jdbcType=VARCHAR},#{sb_jsje,mode=OUT,jdbcType=VARCHAR},
            #{jj_fbsl,mode=OUT,jdbcType=VARCHAR},#{jj_jssl,mode=OUT,jdbcType=VARCHAR},#{jj_jsje,mode=OUT,jdbcType=VARCHAR},
            #{xx_fbsl,mode=OUT,jdbcType=VARCHAR},#{xx_jssl,mode=OUT,jdbcType=VARCHAR},#{xx_jsje,mode=OUT,jdbcType=VARCHAR},
            #{wz_fbsl,mode=OUT,jdbcType=VARCHAR},#{wz_jssl,mode=OUT,jdbcType=VARCHAR},#{wz_jsje,mode=OUT,jdbcType=VARCHAR},
            #{gdzc_fbsl,mode=OUT,jdbcType=VARCHAR},#{gdzc_jssl,mode=OUT,jdbcType=VARCHAR},#{gdzc_jsje,mode=OUT,jdbcType=VARCHAR}
            )
    </select>
</mapper>