<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sq.demo.mapper.SgjdbMapper">
    <resultMap id="BaseResultMap" type="com.sq.demo.pojo.Sgjdb">
        <!--
          WARNING - @mbg.generated
        -->
        <result column="ID" property="id" jdbcType="VARCHAR"/>
        <result column="PROJECT_NO" property="projectNo" jdbcType="VARCHAR"/>
        <result column="PROJECT_NAM" property="projectNam" jdbcType="VARCHAR"/>
        <result column="INVESTMENT_ESTIMATE" property="investmentEstimate" jdbcType="VARCHAR"/>
        <result column="DECLARATION_DEP" property="declarationDep" jdbcType="VARCHAR"/>
        <result column="xmlb" property="xmlb" jdbcType="VARCHAR"/>
        <result column="xmdl" property="xmdl" jdbcType="VARCHAR"/>

        <result column="lxlb" property="lxlb" jdbcType="VARCHAR"/>
        <result column="jsbjbr" property="jsbjbr" jdbcType="VARCHAR"/>
        <result column="jsbjlsj" property="jsbjlsj" jdbcType="VARCHAR"/>

        <result column="LHSJ" property="lhsj" jdbcType="VARCHAR"/>
        <result column="ZJHSJ" property="zjhsj" jdbcType="VARCHAR"/>
        <result column="dbsj" property="dbsj" jdbcType="VARCHAR"/>
        <result column="httjpssj" property="httjpssj" jdbcType="VARCHAR"/>
        <result column="htqdsj" property="htqdsj" jdbcType="VARCHAR"/>
        <result column="htje" property="htje" jdbcType="DECIMAL"/>
        <result column="kgsj" property="kgsj" jdbcType="VARCHAR"/>
        <result column="YSRQ" property="ysrq" jdbcType="VARCHAR"/>
        <result column="bndjsjd" property="bndjsjd" jdbcType="DECIMAL"/>
        <result column="zjsjd" property="zjsjd" jdbcType="DECIMAL"/>
        <result column="wcjsjs" property="wcjsjs" jdbcType="VARCHAR"/>
        <result column="jsbzgjl" property="jsbzgjl" jdbcType="VARCHAR"/>
        <result column="sgdw" property="sgdw" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="search" resultType="com.sq.demo.pojo.Sgjdb" parameterType="com.sq.demo.Entity.Sgjdb2">
        select * from sgjdb
        <trim prefix="where" prefixOverrides="and">
            <if test="projectNo!=null and projectNo!='' ">
                and project_no like concat('%',#{projectNo},'%')
            </if>
            <if test="projectNam!=null and projectNam!='' ">
                and project_nam like concat('%',#{projectNam},'%')
            </if>
            <if test="investmentEstimate!=null and investmentEstimate!='' ">
                and INVESTMENT_ESTIMATE like concat('%',#{investmentEstimate},'%')
            </if>

            <if test="declarationDep!=null and  declarationDep.length>0 ">
                and
                <foreach item="item" index="index" collection="declarationDep" open="(" separator="or" close=")">
                    DECLARATION_DEP like concat('%',#{item},'%')
                </foreach>
            </if>

            <if test="lxlb!=null and  lxlb.length>0 ">
                and
                <foreach item="item" index="index" collection="lxlb" open="(" separator="or" close=")">
                    lxlb like concat('%',#{item},'%')
                </foreach>
            </if>

            <if test="xmlb!=null and xmlb.length>0">
                and
                <foreach item="item" index="index" collection="xmlb" open="(" separator="or" close=")">
                    xmlb like concat('%',#{item},'%')
                </foreach>
            </if>

            <if test="xmdl!=null and xmdl.length>0 ">
                and
                <foreach item="item" index="index" collection="xmdl" open="(" separator="or" close=")">
                    xmdl like concat('%',#{item},'%')
                </foreach>
            </if>

            <if test="kslhsj!='' or jslhsj!='' ">
                and lhsj  BETWEEN #{kslhsj} and #{jslhsj}
            </if>

            <if test="kszjhsj!='' or jszjhsj!='' ">
                and zjhsj  BETWEEN #{kszjhsj} and #{jszjhsj}
            </if>

            <if test="ksdbsj!='' or jsdbsj!='' ">
                and dbsj BETWEEN #{ksdbsj} and #{jsdbsj}
            </if>


            <if test="kshttjpssj!='' or jshttjpssj!=''">
                and httjpssj BETWEEN #{kshttjpssj} and #{jshttjpssj}
            </if>

            <if test="kshtqdsj!='' or jshtqdsj!=''">
                and htqdsj BETWEEN #{kshtqdsj} and #{jshtqdsj}
            </if>

            <if test="htje!=null and htje!='' ">
                and htje like concat('%',#{htje},'%')
            </if>

            <if test="kskgsj!='' or jskgsj!='' ">
                and kgsj BETWEEN #{kskgsj} and #{jskgsj}
            </if>

            <if test="ksysrq!='' or jsysrq!='' ">
                and ysrq BETWEEN #{ksysrq} and #{jsysrq}
            </if>

            <if test="bndjsjd!=null and bndjsjd!='' ">
                and bndjsjd like concat('%',#{bndjsjd},'%')
            </if>
            <if test="zjsjd!=null and zjsjd!='' ">
                and zjsjd like concat('%',#{zjsjd},'%')
            </if>
            <if test="kswcjsjs!='' or jswcjsjs!='' ">
                and wcjsjs BETWEEN #{kswcjsjs} and #{jswcjsjs}
            </if>
            <if test="jsbzgjl!=null and jsbzgjl!='' ">
                and jsbzgjl like concat('%',#{jsbzgjl},'%')
            </if>


            <if test="jsbjbr!=null and jsbjbr.length>0 ">
                and
                <foreach item="item" index="index" collection="jsbjbr" open="(" separator="or" close=")">
                    jsbjbr like concat('%',#{item},'%')
                </foreach>
            </if>

            <if test=" sgdw!=null and  sgdw!='' ">
                and sgdw like concat('%',#{ sgdw},'%')
            </if>
        </trim>
    </select>
</mapper>