<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sq.demo.mapper.YanshouMapper" >
  <resultMap id="BaseResultMap" type="com.sq.demo.pojo.Yanshou" >
    <!--
      WARNING - @mbg.generated
    -->
    <result column="ID" property="id" jdbcType="VARCHAR" />
    <result column="YSNO" property="ysno" jdbcType="VARCHAR" />
    <result column="PROJECTID" property="projectid" jdbcType="VARCHAR" />
    <result column="JSDD" property="jsdd" jdbcType="VARCHAR" />
    <result column="SYBM" property="sybm" jdbcType="VARCHAR" />
    <result column="SGDW" property="sgdw" jdbcType="VARCHAR" />
    <result column="JHWH" property="jhwh" jdbcType="VARCHAR" />
    <result column="KGRQ" property="kgrq" jdbcType="VARCHAR" />
    <result column="JHJE" property="jhje" jdbcType="VARCHAR" />
    <result column="SJJGRQ" property="sjjgrq" jdbcType="VARCHAR" />
    <result column="CBJE" property="cbje" jdbcType="VARCHAR" />
    <result column="YSRQ" property="ysrq" jdbcType="VARCHAR" />
    <result column="SGDWZWPD" property="sgdwzwpd" jdbcType="VARCHAR" />
    <result column="SYBMYSYJ" property="sybmysyj" jdbcType="VARCHAR" />
    <result column="ZGBMPD" property="zgbmpd" jdbcType="VARCHAR" />
    <result column="YSJL" property="ysjl" jdbcType="VARCHAR" />
  </resultMap>

  <select id="search" resultType="com.sq.demo.pojo.Yanshou">
    select * from yanshou
    <trim prefix="where" prefixOverrides="and">
      <if test="ysNo!=null and ysNo!=''">
        and ysno like concat('%',#{ysNo},'%')
      </if>
      <if test="kgrq!=null and kgrq!=''">
        and kgrq like concat('%',#{kgrq},'%')
      </if>
      <if test="sjjgrq!=null and sjjgrq!=''">
        and sjjgrq like concat('%',#{sjjgrq},'%')
      </if>
      <if test="ysrq!=null and ysrq!=''">
        and ysrq like concat('%',#{ysrq},'%')
      </if>
    </trim>
  </select>
</mapper>